<div class="background">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>F̲r̲e̲s̲h̲B̲i̲t̲e̲s̲</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>
        &nbsp;&nbsp;&nbsp;&nbsp;𝐶𝑟𝑒𝑎𝑡𝑒 𝑦𝑜𝑢𝑟 𝐹𝑜𝑜𝑑𝑖𝑒 𝐴𝑐𝑐𝑜𝑢𝑛𝑡
      </h2>

      <form [formGroup]="RegisterForm" class="login-form">
        <div class="whoAreyou">
          <mat-radio-group formControlName="type" aria-label="Select an option">
            <mat-radio-button value="3">I'm a Customer</mat-radio-button>
            <mat-radio-button value="2">I'm a Restaurant Owner</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field class="login-full-width">
          <mat-label>FullName</mat-label>
          <input type="text" matInput formControlName="fullname" placeholder="Rose Gomez">
          <mat-hint>Enter your fullName</mat-hint>
          <mat-error
            *ngIf="RegisterForm.get('fullname')?.hasError('required') && RegisterForm.get('fullname')?.touched">
            <strong class="fnameer">
              Full name is required.
            </strong>
          </mat-error>
        </mat-form-field>
        <!-- geting email from customer -->
        <!-- Email input -->
        <mat-form-field class="login-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="example@example.com">
          <mat-hint>Enter a valid email address</mat-hint>
          <mat-error *ngIf="RegisterForm.get('email')?.hasError('required') && RegisterForm.get('email')?.touched">
            <strong class="emailer">Email is required.</strong>
          </mat-error>
          <mat-error *ngIf="RegisterForm.get('email')?.hasError('email') && RegisterForm.get('email')?.touched">
            <strong class="emailer2">
              Please enter a valid email address.
            </strong>
          </mat-error>
        </mat-form-field>

        <!-- Phone number input -->
        <mat-form-field class="login-full-width">
          <mat-label>Phone Number</mat-label>
          <input type="tel" matInput formControlName="phoneNumber" placeholder="09120001122">
          <mat-hint>Enter your phone number starting with '09'</mat-hint>
          <mat-error
            *ngIf="RegisterForm.get('phoneNumber')?.hasError('required') && RegisterForm.get('phoneNumber')?.touched">
            <strong class="phoneer">
              Phone number is required.
            </strong>
          </mat-error>
          <mat-error
            *ngIf="RegisterForm.get('phoneNumber')?.hasError('pattern') && RegisterForm.get('phoneNumber')?.touched">
            <strong class="phoneer2">
              Phone number must be 11 digits and start with '09'.
            </strong>
          </mat-error>
        </mat-form-field>
        <!-- geting address -->
        <mat-form-field class="login-full-width">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" placeholder="hamedan midan....">
          <mat-hint>Enter your Address</mat-hint>
          <mat-error *ngIf="RegisterForm.get('address')?.hasError('required') && RegisterForm.get('address')?.touched">
            <strong class="addrer">Address is required.</strong>
          </mat-error>
        </mat-form-field>
        <!-- password  -->

        <mat-form-field class="login-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="aB123@$!">
          <mat-hint>Enter a password with at least 8 characters, including letters and numbers.</mat-hint>
          <mat-error class="passer"
            *ngIf="RegisterForm.get('password')?.hasError('required') && RegisterForm.get('password')?.touched">
            Password is required.
          </mat-error>
          <mat-error class="passer"
            *ngIf="RegisterForm.get('password')?.hasError('pattern') && RegisterForm.get('password')?.touched">
            Password must be at least 8 characters long and include both letters and numbers.
          </mat-error>
          <mat-error class="passer2"
            *ngIf="RegisterForm.get('password')?.hasError('minlength') && RegisterForm.get('password')?.touched">
            Password must be at least 8 characters long.
          </mat-error>
        </mat-form-field>
        <!-- confirm password -->
        <mat-form-field class="login-full-width">
          <mat-label>confirm</mat-label>
          <input type="password" matInput formControlName="confirm" placeholder="12345678aA@">
          <mat-error *ngIf="RegisterForm.get('confirm')?.hasError('required') && RegisterForm.get('confirm')?.touched">
            <strong class="confer">
              confirm is required.
            </strong>
          </mat-error>
        </mat-form-field>
      </form>
      <mat-card-actions>
        <a id="register" [disabled]="!passwordsMatch()" (click)="register()" mat-raised-button
          [routerLink]="'/login'">Register</a>
        &nbsp;<a id="register" mat-raised-button [routerLink]="'/login'">Back To Login</a>
      </mat-card-actions>

      <div id="register">