



.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
@font-face {
  font-family: myfont;
  src: url('../../../../assets/fonts/MagicalMilky.ttf');

}
.mdc-list-item__primary-text{
 
  font-family: myfont;
 }

.content{
  padding: 5px;
} 