.grid {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .grid td, .grid th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .grid tr:nth-child(even){background-color: #a33c3c;}
  
  .grid tr:hover {background-color: #764646;}
  
  .grid th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #557935;
    color: white;
  }